
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

<section id="Service-Header" class="py-5 text-center text-light">
    <div class="dark-overly">
        <div class="container">
            <div class="row">
                <div class="col mt-5 pt-4">
                    <h2>Services Us</h2>
                    <p class="lead">
                        It is a long established fact that a reader will be distracted by the readable content of
                        a page when looking at its layout.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

@*Price Plan 57 *@
<section id="price-plan" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 my-2">
                <div class="card  text-center">
                    <div class="card-header">
                        <h3>Service Plan One</h3>
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            <h3>$59.99/Month</h3>                        
                        </div>
                        <div class="card-text lead mb-3">It is a long established fact that a reader will be distracted by the readable content of
                        a page when looking at its layout.</div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <i class="fa fa-check"> Feature One</i>
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-check"> Feature Two</i>
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-check"> Feature Three</i>
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-check"> Feature Foute</i>
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-check"> Feature Five</i>
                            </li>
                        </ul>
                        <a class="btn btn-block btn-primary mt-2">Order Now</a>
                    </div>
                    <div class="card-footer">
                        <p class="text-muted mb-0">1 Year Plan</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 my-2">
                <div class="card  text-center">
                    <div class="card-header">
                        <h3>Service Plan Two</h3>
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            <h3>$59.99/Month</h3>
                        </div>
                        <div class="card-text lead mb-3">
                            It is a long established fact that a reader will be distracted by the readable content of
                            a page when looking at its layout.
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <i class="fa fa-check"> Feature One</i>
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-check"> Feature Two</i>
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-check"> Feature Three</i>
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-check"> Feature Foute</i>
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-check"> Feature Five</i>
                            </li>
                        </ul>
                        <a class="btn btn-block btn-primary mt-2">Order Now</a>
                    </div>
                    <div class="card-footer">
                        <p class="text-muted mb-0">1 Year Plan</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 my-2">
                <div class="card  text-center">
                    <div class="card-header">
                        <h3>Service Plan Three</h3>
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            <h3>$59.99/Month</h3>
                        </div>
                        <div class="card-text lead mb-3">
                            It is a long established fact that a reader will be distracted by the readable content of
                            a page when looking at its layout.
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <i class="fa fa-check"> Feature One</i>
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-check"> Feature Two</i>
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-check"> Feature Three</i>
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-check"> Feature Foute</i>
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-check"> Feature Five</i>
                            </li>
                        </ul>
                        <a class="btn btn-block btn-primary mt-2">Order Now</a>
                    </div>
                    <div class="card-footer">
                        <p class="text-muted mb-0">1 Year Plan</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>